body{
    background-color: #ffffff;
    color:#00AEEF;
}
button{
    color:#00AEEF;
    border-radius:10px;
    font-size:30px;
}
button:hover{
    background-color:#00AEEF;
    color:#ffffff;
    
}
.navigation-container{
    width:100%;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    font-size:larger;
}

.home-container{
    display:grid;
    grid-template-columns:50% 50%;
    text-align:center;
    height:200;
    font-size:15px;
}

.team-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-column-gap: 20px;
}
.circle{
    margin:auto;
    width:200px;
    height:200px;
    border-radius:50%;
    background-color:black;
    text-align: center;
}
#circle1:hover{
    background-color: #00AEEF;
    color:#ffffff;
}
#circle2:hover{
    background-color:#0000FF;
    color:#ffffff;
}
#circle3:hover{
    background-color:#FF00FF ;
    color:#ffffff;
}

.about-container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 15px;
}

.card{
    margin:auto;
    width:200px;
    height:200px;
    border-radius:20%;
    background-color: black;
    text-align: center;
}
.card:hover{
    background-color:#00AEEF ;
    color:#ffffff;
}

.contact-container{
    width:100%;
    font-size:25px;
    padding-bottom: 30px;
    text-align: center;
    display:inline-block;
}
